
// 底部弧形
.gallery{
  background: white;
  overflow: hidden;
  .wrap{
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 150%;
    margin-left: -25%;
    padding: 0 25%;
    overflow: hidden;
    transform: translateZ(0);
  }
}

// swiper
.swiper-container{
  img{
    width: 100%;
    height: 100%;
  }
}
